<%- include('partials/header') -%>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <div class="mt-5">
              <h2 class="text-center">Add Your order!</h2>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <!-- <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="caption" class="form-label">Caption</label>
                  <textarea class="form-control" id="caption" name="caption"></textarea>
                </div> -->
                <div class="mb-3">
                <select name="optionOne" id="optionOne">
                  <option value="food1">food1</option>
                  <option value="food2">food2</option>
                  <option value="food3">food3</option>
              </select>
            </div>
              <div class="mb-3">
              <select name="optionTwo" id="optionTwo">
                  <option value="drink1">drink1</option>
                  <option value="drink2">drink2</option>
                  <option value="drink3">drink3</option>
              </select>
            </div>
            <div class="mb-3">
              <select name="optionThree" id="optionThree">
                  <option value="side1">side1</option>
                  <option value="side2">side2</option>
                  <option value="side3">side3</option>
              </select>
            </div>
            <div class="mb-3">
                  <label for="name" class="">Name:</label>
                  <input type="hidden" name="id" value="">
                  <input type="text" name="name" value="" placeholder="Please enter a your name">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
        </div> 
      </div>
    </div>
  </div>
<main class="container">
    <div class="row justify-content-center mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Employee Login</a>
        <!-- <a href="/signup" class="col-3 btn btn-primary"> Signup</a> -->
    </div>
</main>
    

<%- include('partials/footer') -%>