<%- include('partials/header') -%>
<div class="container">
  <div class="mt-5 text-center">
    <h1>Employee Account</h1>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a class="col-3 btn btn-primary" href="/feed">Return to Feed</a>
    <a class="btn btn-primary" href="/">Return to HomePage</a>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
</div>
  </div>  
<%- include('partials/footer') -%>