<%- include('partials/header') -%>
<div class="container">
  <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a class="col-3 btn btn-primary" href="/feed">Return to Feed</a>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
</div>
  </div>  
<%- include('partials/footer') -%>